* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

main {
  height: 100vh;
  background-color: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 80vw;
  max-width: 600px;
  height: 90vh;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #2b283a;
  margin-bottom: 0.5em;
}

.summary-text {
  max-width: 230px;
  font-size: 0.85rem;
  font-weight: 400;
  color: #4a4e74;
  text-align: center;
}

.win-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #4a4e74;
  margin-top: 2em;
}
/* Dice container */
.dice-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 40px 20px;
  place-items: center;
}

.die {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}

.die-number {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2b283a;
  user-select: none;
}

/* Roll button */
.btn {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5em 2.5em;
  color: #ffffff;
  background-color: #5035ff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.18);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

.held {
  background-color: #59e391;
}

@media (min-width: 768px) {
  .dice-container {
    grid-template: auto / repeat(5, 1fr);
  }
}
